{template '_header'}
<style type='text/css'>
    .trhead td {  background:#efefef;text-align: center}
    .trbody td {  text-align: center; vertical-align:top;border-left:1px solid #f2f2f2;overflow: hidden; font-size:12px;}
    .trorder { background:#f8f8f8;border:1px solid #f2f2f2;text-align:left;}
    .ops { border-right:1px solid #f2f2f2; text-align: center;}
</style>

<div class="page-heading">

    <h2>文章管理</h2>
</div>

<form action="./index.php" method="get" class="form-horizontal table-search" role="form">

        <input type="hidden" name="c" value="site" />

        <input type="hidden" name="a" value="entry" />

        <input type="hidden" name="m" value="rr_vv3" />

        <input type="hidden" name="do" value="web" />

        <input type="hidden" name="r" value="articles.list.{$st}" />

        <div class="page-toolbar row m-b-sm m-t-sm">

            <div class="col-sm-4">

                <div class="input-group-btn">

			        <button class="btn btn-default btn-sm"  type="button" data-toggle='refresh'><i class='fa fa-refresh'></i></button>

				    <!-- {ifp 'articles.doctors.edit'} -->

			            <!-- <button class="btn btn-default btn-sm" type="button" data-toggle='batch' data-href="{php echo webUrl('articles/setblack',array('isblack'=>1))}"><i class='fa fa-user'></i> 设置黑名单</button> -->

				        <!-- <button class="btn btn-default btn-sm" type="button" data-toggle='batch'  data-href="{php echo webUrl('articles/setblack',array('isblack'=>0))}"><i class='fa fa-user-o'></i> 取消黑名单</button> -->

				    <!-- {/if} -->


                    {ifp 'articles.delete'}

                        {if $st!='status3'}
						<button class="btn btn-default btn-sm" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{php echo webUrl('articles/delete')}"><i class='fa fa-trash'></i> 批量删除</button>
						{/if}
                    {/if}

			    </div>

            </div>

            <div class="col-sm-6 pull-right">


                <div class="input-group">

                    <input type="text" class="form-control input-sm"  name="keyword" value="{$_GPC['keyword']}" placeholder="可搜索文章标题/内容/作者"/>
					<!-- {if $_GPC['status']!=null} -->
					<!-- <input type="hidden" name="status" value="{$_GPC['status']}" /> -->
					<!-- {/if} -->
    				<span class="input-group-btn">


                        <button class="btn btn-sm btn-primary" type="submit"> 搜索</button>

                        <!-- <button type="submit" name="export" value="1" class="btn btn-success btn-sm">导出</button> -->

    				</span>

                </div>

            </div>

        </div>

  </form>

   <table class="table table-hover table-responsive">

            <thead class="navbar-inner">

                <tr>

                    <th style="width:25px;"><input type='checkbox' /></th>

                    <th style="width:60px;">排序</th>

                    <th style="width:200px;">文章标题</th>

                    <th style="width:110px;">作者</th>

                    <th style="width:100px;">提交时间</th>

                    <th style="width:100px;">当前状态</th>
					
                    <th style="width:100px;">查看</th>

                </tr>

            </thead>

            <tbody>

                {loop $list $row}

                <tr rel="pop" data-title="ID: {$row['id']} ">

                   	<td style="position: relative; ">

					   <input type='checkbox'   value="{$row['id']}"/>

                    </td>

                    <td>{$row['id']}</td>

                    <td>
                        {$row['article_title']}
                    </td>


                    <td>
						<div>

                        	{if !empty($row['avatar'])}

                            <img src='{php echo tomedia($row['avatar'])}' style='width:30px;height:30px;padding1px;border:1px solid #ccc' />

                            {/if}

                            {if strexists($row['openid'],'sns_wa_')}

                                <i class="icon icon-wxapp" data-toggle="tooltip" data-placement="top" data-original-title="小程序注册" style="color: #7586db;"></i>

                            {/if}

                            {if strexists($row['openid'],'wap_user_')||strexists($row['openid'],'sns_qq_')||strexists($row['openid'],'sns_wx_')}

                                <i class="icon icon-mobile2" data-toggle="tooltip" data-placement="top" data-original-title="{if strexists($row['openid'],'wap_user_')}手机号注册{else}APP注册{/if}" style="color: #44abf7;"></i>

                            {/if}


                            {if empty($row['realname'])}{$row['nickname']}{else}{$row['realname']}{/if}

                        </div>
					
					</td>

                    <td>{php echo date("Y-m-d",$row['createtime'])}<br/>{php echo date("H:i:s",$row['createtime'])}</td>

                    <td> 

						<label class='label {if $st=='status0'}{elseif $st=='status1'}label-danger{elseif $st=='status2'}label-success{elseif $st=='isshow0'}label-warning{elseif $st=='isshow1'}label-primary{/if}'>
						{if $st=='status0'}待审核</label><br/>
						<!-- <a class="btn btn-primary btn-xs" data-toggle="ajaxPost" href="{php echo webUrl('articles/post/audit', array('id' => $row['id']))}" data-confirm="确认此文章审核通过吗？">审核通过</a><br/> -->
					
						<!-- {ifp 'articles.remarksaler'} -->
						<!-- <a  class="btn btn-danger btn-xs" data-toggle="ajaxModal" href="{php echo webUrl('articles/post/checked', array('id' => $row['id'],'article_title' => $row['article_title']))}" >审核不过</a> -->
						<!-- {/if} -->
						{elseif $st=='status1'}未通过</label>
						{elseif $st=='status2'}已通过</label>
						{elseif $st=='status3'}已删除</label>
						{elseif $st=='isshow0'}未发布</label>
						{elseif $st=='isshow1'}已发布</label>
						{/if}
						</label>			
						
					</td>

	
                    <td  style="overflow:visible;">

                        <div class="btn-group btn-group-sm" >

                            <ul class="dropdown-menu-left" role="menu" style='z-index: 9999'>

                                {ifp 'articles.detail'}

                                    <li><a href="{php echo webUrl('articles/detail',array('id' => $row['id']));}" title="文章详情"><i class='fa fa-edit'></i> 文章详情</a></li>
									
								{/if}
								{if $st == 'status0'}
                                        <li>
                                        	<a class="btn btn-primary btn-xs" data-toggle="ajaxPost" href="{php echo webUrl('articles/post/audit', array('id' => $row['id'],'status' => 1))}" data-confirm="确认此视频审核通过吗？">审核通过</a>
                                        </li>
                                        
                                        <li>
											<a  class="btn btn-danger btn-xs" data-toggle="ajaxModal" href="{php echo webUrl('articles/post/checked', array('id' => $row['id'],'article_title' => $row['article_title']))}" >审核不过</a>						
                                        </li>

                                    {/if}
								{if $st=='isshow1'}
									<a  class="btn btn-danger btn-xs" data-toggle="ajaxModal" href="{php echo webUrl('articles/post/goback', array('id' => $row['id'],'article_title' => $row['article_title']))}" >退回前台重新审核
									</a>
								{/if}
							
								
								
							
                            </ul>

                        </div>

                    </td>

                </tr>

                {/loop}

            </tbody>

        </table>

        {$pager}

		<script language="javascript">

			{if $opencommission}

			    require(['bootstrap', 'jquery', 'jquery.ui'], function (bs, $, $) {

                    $("[rel=pop]").popover({

                        trigger:'manual',

                        placement : 'left', 

                        title : $(this).data('title'),

                        html: 'true', 

                        content : $(this).data('content'),

                        animation: false

                    }).on("mouseenter", function () {

                        var _this = this;

                        $(this).popover("show"); 

                        $(this).siblings(".popover").on("mouseleave", function () {

                            $(_this).popover('hide');

                        });

                    }).on("mouseleave", function () {

                        var _this = this;

                        setTimeout(function () {

                            if (!$(".popover:hover").length) {

                                $(_this).popover("hide")

                            }

                        }, 100);

                    });

            	});

        	{/if}   

        </script>
	



{template '_footer'}
